.main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 850px) {
    .message {
        padding: 40px;
        text-align: center;
    }


  }

@media (max-width: 400px) {
    .main {
        align-items: flex-start;
    }
}