.menuHamburguer {
  background-color: #9a9a9a;
  width: 100vw;
  height: 100%;
}

.container {
  display: none;
}

.button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

@media (max-width: 1140px) {
  .container {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
  }
}
