.container {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
}

.childrenDiv {
    flex: 2;
}

@media (max-width: 1400px) {
    .container {
        gap: 60px;
    }
}



@media (max-width: 1000px) {
    .container {
        gap: 60px;
    }
}
